<li class="food-item">
  <% if(mode === "edit"){ %>
    
    <form class="food-edit-form" action="<%= `/food/edit/${food.id}` %>?_method=PUT" method="POST">
      <label for="name">Item Name</label>
      <input name="name" type="text" value="<%= food.name %>">
      <label for="notes">Item Notes</label>
      <input name="notes" type="text" value="<%= food.notes %>">
      <label for="price">Item Price</label>
      <input name="price" type="number" value="<%= food.price %>">
      <label for="diet">Item Dietary Notes</label>
      <input name="diet" type="text" value="<%= food.diet %>">
      <button type="submit">Update this item</button>
    </form>

    <form class="delete-form" action="<%= `/food/edit/${food.id}` %>?_method=DELETE" method="POST">
      <button type="submit">delete this item</button>
    </form>

  <% } else { %>
    <div class="item-name">
      <%= food.name %>
    </div>

    <div class="item-price">
      <%= food.price %>
    </div>

    <div class="item-notes">
      <%= food.notes %>
    </div>

    <div class="item-diet">
      <%= food.diet %>
    </div>

    <a href="<%= `/food/edit/${food.id}` %>">edit</a>
  <% } %>
</li>