<li class="NonAlc-item">

  <% if(mode === "edit"){ %>

    <form class="NonAlc-edit-form" action="<%= `/NonAlc/edit/${NonAlc.id}` %>?_method=PUT" method="POST"></form>
      <label for="name">Name</label>
      <input name="name" type="text" value="<%= NonAlc.name %>">

      <label for="notes">Notes</label>
      <input name="notes" type="text" value="<%= NonAlc.notes %>">

      <label for="price">price</label>
      <input name="price" type="text" pattern="^\d*\.?\d*$" value="<%= NonAlc.price %>">

      <button type="submit">update this item</button>
    </form>

    <form class="NonAlc-delete-form" action="<%= `/NonAlc/edit/${NonAlc.id}` %>?_method=DELETE" method="POST">
      <button type="submit">delete</button>
    </form>

  <% } else { %>
    <div class="NonAlc-name item-name">
      <%= NonAlc.name %>
    </div>

    <div class="NonAlc-price item-price">
      <%= NonAlc.price %>
    </div>

    <a href="<%= `/NonAlc/edit/${NonAlc.id}` %>">edit</a>
  <% } %>

</li>
