<%- include('partials/header') %>

  <div><%= category %></div>
  <% if(created){ %>
    <div>successfully created <%= created.name %></div> 
  <% } %>
  <ul>
    <% allItems.forEach((item, i) => { %>
      <%- include('./partials/beeritem', {item }) %>
    <% }) %>
  </ul>

<%- include('partials/footer') %>