<!-- DEPRECIATED -->

<%- include('partials/header') %>

  <div><%= category %></div>
 
  <div>edit items</div>
  <% allItems.forEach((item, i) => { %>
    <% if(item.itemType === "beer"){ %>
      
      <%- include('partials/beeritem', {item, mode: "edit"}) %>
    <% } else { %>
      
      <div class="item-name">
        <%= item.name %>
      </div>
      <div class="item-price">
        <% if(item.price){ %>
          <%= item.price %>
        <% } else { %>
          <%= item.pour1 %>
        <% } %>
      </div>
    <% } %>
  <% }) %>

<%- include('partials/footer') %>