<%- include('partials/header') %>

  <div><%= category %></div>

  <% allItems.forEach((item, i) => { %>
    <div class="item-name">
      <%= item.name %>
    </div>
    <div class="item-price">
      <% if(item.price){ %>
        <%= item.price %>
      <% } else { %>
        <%= item.pour1 %>
      <% } %>
    </div>
  <% }) %>

<%- include('partials/footer') %>